<section class="p-0"></section>
<!-- footer section start -->
<footer class="sticky-footer" id="footerReveal" style="background: #2B285C">
    <section class="section-b-space darken-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo">
                            <img src="assets/images/icon/footerlogo.png" alt="">
                        </div>
                        <app-information></app-information>
						<app-social></app-social>
                    </div>
                </div>
                <!--<div class="col offset-xl-1 ">
                    <div class="sub-title">
                        <app-categories></app-categories>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <app-why-we-choose></app-why-we-choose>
                    </div>
                </div>-->
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>Informacion</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li><i class="fa fa-map-marker"></i>Avenida 6 de Diciembre N39-59 y Calle el Telegrafo</li>
                                <li><i class="fa fa-phone"></i>Telefono: 097 9456 475</li>
                                <li><i class="fa fa-envelope-o"></i>Email: <a href="#">soporte@rolimapp.com</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>Importante</h4>
                            </div>
                            <div>
                                <ul>
                                    <li><a [routerLink]="'/pages/terms'">Términos y condiciones</a></li>
                                    <li><a [routerLink]="'/pages/privacy'">Política de privacidad</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer dark-subfooter">
        <div class="container">
            <app-copyright></app-copyright>
        </div>
    </div>
</footer>
<!-- footer section end -->
 <!-- Rtl start -->
<!--<div class="rtl-btn" id="">
    <a href="javascript:void(0)" class="RTL_cls">
        RTL
    </a>
</div>-->
<!-- rtl end -->