<!-- about section start-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h2 class="title-inner3">¡TODO EVOLUCIONA, LAVAR LA ROPA TAMBIÉN!</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>Porque tu tiempo es lo más importante y sabemos que amas tu ropa, ROLIM, trae a Ecuador un concepto diferente de lavar, a través de la tecnología e innovación digital, podrás solicitar cualquiera de nuestros servicios y lucir cada día más impecable. 
                        A través de un clic en nuestra plataforma web o aplicación móvil, indícanos donde recogemos y entregamos tu ropa limpia.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->