<!--  logo section -->
<section class="section-b-space tools-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="title3">
              <h2 class="title-inner3">Descarga el App</h2>
              <div class="line"></div>
          </div>
        <ngx-slick-carousel class="no-arrow" #slickModal="slick-carousel" [config]="logoSlideConfig">
          <div ngxSlickItem *ngFor="let lg of logo">
            <div class="logo-block">
              <a [routerLink]="'/index'">
                <img [src]="lg.image" alt="">
             </a>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!--  logo section end-->
