/*=====================
    1.3.Brand logo CSS start
    ==========================*/
    .logo-block a:focus {
        outline: none;
      }
      .logo-block img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        opacity: 0.7;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        margin: 0 auto;
      }
      .logo-block img:focus {
        outline: none;
      }
      .logo-block img:hover {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        opacity: 1;
        -webkit-transition: .5s ease;
        transition: .5s ease;
      }