<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Pago</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/index'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pago</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Detalles de Facturación</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Nombre</div>
                                    <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                                    El campo Nombre es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                                    El campo Nombre debe contener solamente letras.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Apellido </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                                    El campo Apellido es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                                    El campo Apellido debe contener solamente letras.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Teléfono</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                    El campo Teléfono es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                    El campo Teléfono debe contener solamente números.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                    El campo Email es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                     Email no válido
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">País</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" >Seleccione un país</option>
                                        <option value="Ecuador" selected>Ecuador</option>
                                        <!--<option value="USA">USA</option>
                                        <option value="Australia">Australia</option>-->
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                    El campo País es obligatorio.
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Ciudad</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                            <option value="" >Seleccione una Ciudad</option>
                                            <option value="Quito" selected>Quito</option>
                                           
                                    </select>
                                     <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                    El campo Ciudad es obligatorio.
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Provincia</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                            <option value="" >Seleccione una Provincia</option>
                                            <option value="Pichincha" selected>Pichincha</option>
                                           
                                    </select>
                                     <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                        El campo Provincia es obligatorio.
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Código Postal</div>
                                    <input type="text" name="postalcode" [formControl]="checkoutForm.controls['postalcode']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required" class="text text-danger">
                                        El campo Código Postal es obligatorio.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Dirección de Recogida</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Dirección de Recogida es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Dirección de Entrega</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Dirección de Entrega es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Fecha de Recogida</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Fecha de Recogida es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Fecha de Entrega</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Fecha de Entrega es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Hora de Recogida</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Hora de Recogida es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Hora de Entrega</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     El campo Hora de Entrega es obligatorio.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Máximo 50 caracteres.
                                    </div>
                                </div>
                            </div>
                          <!--<div class="row ">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>stripe js</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4242424242424242</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>2/2020</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>2222</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>-->
                          <!--<div class="row margin-cls">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>paypal</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4152521541244</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>11/18</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>521</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>-->
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Detalle <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='checkOutItems.length'>
                                        <li *ngFor="let item of checkOutItems">
                                        	 {{ item.product.name }} × {{ item.quantity }}
                                        	<span>
                                        	 {{ item.product.price * item.quantity | currency:productsService?.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!checkOutItems.length'>
                                     <li class="empty-checkout"> No hay productos en el carrito </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Subtotal <span class="count">{{ getSubTotal() | async | currency:productsService?.currency:'symbol'}}</span>
                                        </li>
                                        <li *ngIf='checkOutItems.length'>
                                        	Entrega
                                         <div class="shipping">
                                            <div class="shopping-option">
                                                <input type="radio" name="shipping" id="free-shipping" [(ngModel)]="ship" value="T">
                                                <label for="free-shipping">A Domicilio</label>
                                            </div>
                                            <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup" [(ngModel)]="ship" value="F">
                                                <label for="local-pickup">Entrega en local</label>
                                            </div>
                                         </div>
                                        </li>
                                    </ul>
                                    <ul class="total" >
                                        <li *ngIf="ship == 'T'">Entrega <span class="count">{{ getShippingCost() | async | currency:productsService?.currency:'symbol'}}</span></li>
                                        <li >Total <span class="count">{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span></li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='checkOutItems.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="false"  name="payment-group" id="payment-1">
                                                        <label for="payment-1">Pago contra Entrega
                                                        <span class="small-text">Cancela al momento de recibir tu pedido listo.</span></label>
                                                    </div>
                                                </li>
                                                <!--<li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="false"  name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="true" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li>-->
                                            </ul>
                                        </div>
                                        <div>
                                                <ul>
                                                    <li>
                                                        <div>
                                                            <input type="checkbox" [(ngModel)]="terms" name="terms" id="terms">
                                                            <label for="payment-1">Acepta los <a [routerLink]="'/pages/terms'" target="_blank">Términos y condiciones</a></label>  
                                                        </div>
                                                        <div>
                                                            <input type="checkbox" [(ngModel)]="privacy" name="privacy" id="privacy">
                                                            <label for="payment-1">Acepta la <a [routerLink]="'/pages/privacy'" target="_blank">Política de privacidad</a></label>   
                                                        </div>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn-solid btn" [disabled]="!checkoutForm.valid || !terms || !privacy" (click)="stripeCheckout()" type="submit"
                                        *ngIf="!payment">
                                           Completar pedido
                                        </button>
                                        <ngx-paypal [config]="payPalConfig" [ngClass]="{'btn disabled': !checkoutForm.valid}" *ngIf="payment">
                                        </ngx-paypal>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>