<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Inicio de Sesión</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/index'">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space" *ngIf="!requireOtp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Inicio de Sesión</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group" >
                            <label for="email">Email</label>
                            <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="Email" required="true">
                            <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required" class="text text-danger">
                                El campo Email es obligatorio.
                            </div>
                            <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email" class="text text-danger">
                                Email no válido
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review">Contraseña</label>
                            <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required="true">
                            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required" class="text text-danger">
                                El campo Contraseña es obligatorio.
                            </div>
                        </div>
                        <div *ngIf="mensaje!='consulta correcta'" class="text text-danger">
                            {{mensaje}}
                        </div>
                        <br>
                        <button class="btn btn-solid" [disabled]="!loginForm.valid" id="btnLogin" type="submit">Iniciar sesión</button>

                        
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Cliente Nuevo</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Crear una cuenta</h6>
                    <p>Regístrate gratis en ROLIM. Es rápido y fácil. Te permite comprar, suscribirte a nuestros servicios y realizar un seguimiento de tus órdenes. Para empezar, haz click en CREAR UNA CUENTA.</p>
                    <button class="btn btn-solid" (click)="goToRegister()">Crear una cuenta</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<section class="section-b-space light-layout" *ngIf="requireOtp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Activación de cuenta</h2>
                    <p>Su cuenta fue creada, pero aún no ha sido activada.</p> 
                    <p>Para activar su cuenta, por favor ingrese el código de confirmación enviado a su correo electrónico.</p>
                    
                        
                        
                          <form class="form-inline subscribe-form" [formGroup]="validateOtpForm">
                            <div class="form-group mx-sm-3">
                              <input type="tel" formControlName="otp" name="otp" id="otp" class="form-control" placeholder="Código">
                            </div>
                            <button class="btn btn-solid" (click)="validateOtp()">Enviar</button>
                          </form>
                        
                    
                </div>
            </div>
        </div>
    </div>
  </section>