<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Inicio de Sesión</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/index'">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Inicio de Sesión</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">Contraseña</label>
                            <input type="password" class="form-control" id="review" placeholder="Ingresa tu contraseña" required="">
                        </div>
                        <button class="btn btn-solid">Iniciar sesión</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Cliente Nuevo</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Crear una cuenta</h6>
                    <p>Regístrate gratis en ROLIM. Es rápido y fácil. Te permite comprar, suscribirte a nuestros servicios y realizar un seguimiento de tus órdenes. Para empezar, haz click en CREAR UNA CUENTA.</p>
                    <button class="btn btn-solid">Crear una cuenta</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->