<!-- thank-you section start -->
<section class="section-b-space light-layout">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="success-text">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  <h2>¡Descarga nuestra app!</h2>
                  <p>Ésta opción se encuentra disponible en nuestra aplicación móvil.</p>
                  <p>Descargala en tu tienda de aplicaciones!</p>
                  <div class="banner-tools">
                    <img src="assets/images/download/banner.png" alt="" class="img-fluid">
                </div>
                  <button class="btn-solid btn"  (click)="returnHome();">
                  Volver al inicio
                  </button>
              </div>
          </div>
      </div>
  </div>
</section>