<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Mi Perfil</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/index'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mi Perfil</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a class="popup-btn">
                        Mi Perfil
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li class="active"><a [routerLink]="">Mi Perfil</a></li>
                            <li><a [routerLink]="">Libreta de direcciones</a></li>
                            <li><a [routerLink]="">Mis órdenes</a></li>
                            <li><a [routerLink]="">Mi Lista de Deseos</a></li>
                            <li><a [routerLink]="">Cambiar contraseña</a></li>
                            <li class="last"><a [routerLink]="'/index'" (click)="logout()">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>Mi Perfil</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Hola {{user.nombre}}!</p>
                            <p>Desde Mi Perfil, puedes ver un resumen de la actividad reciente de tu cuenta y actualizar tu información.Selecciona uno de los enlaces de esta página para ver o editar tu información.</p>
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h2>Información</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Información de contacto</h3>
                                            <a [routerLink]="">Editar</a>
                                        </div>
                                        <div class="box-content">
                                            <h6>{{user.nombre}}</h6>
                                            <h6>{{user.email}}</h6>
                                            <h6><a [routerLink]="">Cambiar contraseña</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" hidden>
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Boletines</h3>
                                            <a [routerLink]="">Editar</a>
                                        </div>
                                        <div class="box-content">
                                            <p>
                                                Aún no estás suscrito a ningún boletin de novedades.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div class="box">
                                    <div class="box-title">
                                        <h3>Libreta de direcciones</h3>
                                        <a [routerLink]="'/pages/address'">Nueva Dirección</a>
                                    </div>
                                    <div class="row">
                                        <div *ngFor="let address of addresses" class="col-sm-4" style="margin-bottom: 20px;">
                                            <h6>Dirección {{address.alias}}</h6>
                                            <address>
                                                {{address.direccion}}<br>      
                                                <p *ngIf="address.activo">ACTIVA</p>
                                                <p *ngIf="!address.activo">INACTIVA</p>
                                                
                                                <a [routerLink]="" (click)="deleteAddress(address.id)">Eliminar</a>
                                            </address>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->